* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}


@media only screen and (min-width: 300px) {

    .page_wrapper {
        width: 100%;
        overflow-x: hidden;
    }  

    header {
        /*display: grid;
        grid-template-columns: 1fr 2fr;*/
        margin-bottom: 10%;
    }

    input::placeholder {
      /*  color: red;*/
    }

    nav.featureLinks {
        display: grid;
        justify-items: center;

        margin-top: 20%;
        font-size: large;
        grid-row-gap: 50%;
        /*justify-self: end;*/
    }

    section.navLogo {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img.openClose {
        justify-self: right;
        margin-right: 15%;
    }

    img.bookmark {
        margin-left: 5%;
    }

    .show {
        display: none;
    }

    div#modal {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: hsl(229, 31%, 21%);
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0.97;
        animation-name: rollIn;
        animation-duration: 1s;
    }

    @keyframes rollIn {
        from {
            opacity: 0;
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    body {

        animation-name: zoomIn;
        animation-duration: 1s;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        50% {
            opacity: 1;
        }
    }


    .animate_me {
        animation-name: heartBeat;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    @keyframes heartBeat {
        0% {
            transform: scale(1);
        }

        14% {
            transform: scale(1.3);
        }

        28% {
            transform: scale(1);
        }

        42% {
            transform: scale(1.3);
        }

        70% {
            transform: scale(1);
        }
    }

    @keyframes slideOutLeft {
        from {
            transform: translate3d(0, 0, 0);
        }

        20% {
            visibility: hidden;
            transform: translate3d(-100%, 0, 0);
        }
    }

    section.hero {
        margin-bottom: 15%;
        margin-top: 20%;      
    }

    div.speedySearching img,
    div.shareBookMarks img {
        width: 90%;
        height: 40vh;
    }

    .bookmarkInOneClick h3 {
        margin-top: 10%;
    }

    section.hero img,
    section.features img {
        position: relative;
        width: 89%;
        display: block;
        margin: auto;
        max-height: 45vh;       
    }

    div#oneClickBook {
        margin-top: 10%;
    }

    .mainImagesDescr {
        margin-top: 30%;
    }

    section.features img {
        position: relative;
    }

    h1 {
        margin: 5% 15%;
        text-align: center;
    }

    h2,
    h3 {
        /* margin: auto; */
        text-align: center;
    }

    p {
        margin: 5% 10%;
        text-align: center;
        line-height: 1.4em;
    }

    .getIt {
        text-align: center;
    }

    input[type="button"] {
        width: 40vw;
        height: 8vh;
        border-radius: 10px;
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    input[type="button"].firefox {
        background-color: lightgrey;
        color: black;
    }

    input.chrome:hover {
        background-color: white;
        color: blue;
        cursor: grab;
    }

    input[type="button"].firefox:hover {
        background-color: white;
        cursor: grab;
    }

    hr {
        opacity: 0.3;
    }

    div.backImgHero,
    div.backImgFeatures {
        width: 70vw;
        height: 28vh;
        background-color: cornflowerblue;
        z-index: 0;
    }

    div.backImgHero::before {
        position: absolute;
        content: "";
        display: block;
        top: -30%;
        left: -15%;
        width: 75vw;
        height: 50vh;
        background-image: url("images/illustration-hero.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }


    button {
        background: none;
        height: 11vh;
        width: 45vw;
        border: none;
        /* border-bottom: 1px solid red;*/
        margin: auto;
        display: block;
        font-weight: 700;
    }

    div.backImgHero {
        position: relative;
        ;
        left: 20%;
        margin-top: 25%;
        border-bottom-left-radius: 30%;
    }

    button.btnFeature:hover {
        cursor: pointer;
        color: red;
    }

    button.addExtBtn:hover {
        cursor: pointer;
        color: blue;
        border: 1px solid blue;
        background-color: white;
    }

    div.backImgFeatures {
        position: absolute;
        margin-top: 25%;
        height: 28vh;
        margin-left: 2%;
        border-bottom-right-radius: 20%;
    }

    summary:hover {
        color: red;
        cursor: pointer;
    }

    input.moreInfo {
        margin: auto;
        display: block;
        margin-bottom: 10%;
    }

    img.browserImg,
    .dotsImg,
    button.addExtBtn {
        margin: 10% auto;
        display: block;

    }

    button.addExtBtn {
        background-color: hsl(231, 69%, 60%);
        color: white;
        width: 60vw;
        height: 8vh;
        border-radius: 10px
    }

    img.dotsImg {
        width: 90%;
    }

    img.browserImg {
        margin-top: 10%;
        margin-bottom: 5%;
        padding-top: 12%;
    }

    figure {
        width: 80%;
        margin: auto;
       /* border: 0.5px solid cornsilk;
        margin-bottom: 5%;
        height: 80vh;
        border-radius: 10px;
        box-shadow: inset -1px 1px 0px 1px #e8e6e6;*/
    }

    .chromeExt, .firefoxExt, .operaExt {
        width: 70%;
        margin: 5% auto;
        height: 100%;
       /* border: 1px solid black;*/
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px whitesmoke;
    }
    

    summary::-webkit-details-marker {
        display: none;
    }

    summary:after {
        content: url("images/icon-arrow.svg");
        float: right;
    }

    details[open] summary:after {
        content: url("images/icon-arrow.svg");
        display: inline-block;
        transform: rotate(180deg);
        filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

   .questions hr {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contactUs {
        height: 60vh;
        background-color: hsl(231, 69%, 60%);

    }

    input[type="email"],
    input[type="submit"] {
        display: block;
        margin: auto;
        width: 80vw;
        height: 8vh;
        border-radius: 5px;
        padding-left: 5%;
        margin-bottom: 5%;
    }

    input[type="submit"] {
        background-color: red;
        color: white;
    }

    footer {
        background-color: hsl(229, 31%, 21%);
        color: white;
        height: 100%;
    }

    footer nav {
        margin-top: 5%;
        margin-bottom: 15%;
        display: grid;
        grid-row-gap: 20%;
        justify-items: center;
    }

    img.bookmarkFooter {
        display: block;
        margin: 5% auto;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    footer a {
        text-decoration: none;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

    }

    li {
        list-style-type: none;
    }

    li.twitter {
        justify-self: right;
        margin-right: 5%;
    }

    li.facebook {
        justify-self: left;
        margin-left: 5%;

    }

    nav a {
        color: white;
        text-decoration: none;
    }

    header nav {
        display: grid;
        grid-row-gap: 30%;

    }

    .modalFeatures {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        ;
        padding-top: 2%;
        width: 90%;
        text-align: center;
        margin: 10% auto;
    }

    .speedySearching {
        margin-top: 10%;
    }

    #modal .navLogo .bookmark {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    #speedySearch,
    #shareBkMarks {
        visibility: hidden;
        height: 0;
        margin-top: 0;
    }

    summary {
        width: 90%;
        margin: auto;
    }

    a.fa.fa-facebook-square,
    a.fa.fa-twitter {
        color: white;
    }

    footer p {
        letter-spacing: 0.1em;
    }

    footer h3 {
        font-size: x-large;
        margin-bottom: 5%;
    }

    .answer {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }

    main {
        font-size: small;
    }

    header .socialIcons {
        display: block;
    }

    .mainNav img.bookmark,
    .mainNav img.openClose {
        display: block;
    }

    a {
        color: rgb(243, 54, 87);
    }

    .heroImage {
        margin-bottom: 15%;
    }

    .modalFeatures:nth-child(3) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding-bottom: 5%;
    }


    .modalFeatures:last-child {
        width: 60%;
        border: 1px solid white;
        line-height: 3em;
        height: 10vh;
    }

}

@media only screen and (min-width: 520px) {  
    .chromeExt,
    .firefoxExt,
    .operaExt { 
        width: 65%;
    }

    figure {
        /*height: 65vh;*/
    }

   figcaption p {
        margin: 1% 10%;        
    }

    button.addExtBtn {
        width: 40vw;
    }

    img.browserImg,
    .dotsImg,
    button.addExtBtn {
        margin: 4% auto;
        display: block;
    }

    div.backImgFeatures {
        margin-top: 5%;
        height: 37vh;
        margin-left: 9%;

    }

    div.backImgHero,
    div.backImgFeatures {
        width: 55vw;
    }

    section.features img {
        width: 75%;
    }

    .mainImagesDescr {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 800px) {
    body {
        overflow: auto;
        font-size: large;
    }

    .chromeExt,
    .firefoxExt,
    .operaExt {
        width: 90%;        
        height: 100%;       
    }

.extPara {
    width: 45%;
    margin: 5% auto 10%;
}

figcaption p {
    margin: 5% 10%;
}
    figure {
        height: 70%;
    }

    #modal img.bookmark {
        margin-top: 10%;
    }

    button {
        width: 15vw;
        font-size: large;
    }

    img.openClose {
        display: none;
    }

    .modalFeatures a {
        color: black;
    }

    #modal .navLogo .bookmark {
        filter: invert(0%) sepia(0%) saturate(78%) hue-rotate(0deg) brightness(102%) contrast(102%);
    }

    div#modal {
        opacity: 1;
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: 15vh;
        background-color: white;
    }

    .modalFeatures {
        border-top: none;
    }

    .featureList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    header .socialIcons {
        display: none;
    }

    .mainNav img.bookmark,
    .mainNav img.openClose {
        display: none;
    }

    section.hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5%;
    }

    .bookmarkManager {
        grid-area: 1/1;
    }

    div.backImgHero {
        width: 40vw;
        height: 40vh;
        margin-top: 2%;
        left: 10%;
    }

    input[type="button"] {
        width: 20vw;
        margin-left: 10%;
    }

    .getIt {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .mainFeature {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        font-size: large;
    }

    .headerFeature {
        width: 80%;
        margin: auto;
        padding-left: 15%;
        padding-right: 15%;
    }

    .mainFeature {
        width: 80%;
        margin: 5% auto;
    }

    .altenateImg {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    div.backImgFeatures {
        width: 40vw;
        height: 40vh;
    }

    .targets {
        margin-bottom: 10%;
    }

    .extList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 35vw;
    }

    button.addExtBtn {
        width: 25vw;
    }

    section.faqs {
        width: 60%;
        margin: 12% auto;
    }

    input.moreInfo {
        margin: auto;
    }

    .stayUpToDate {
        width: 60%;
        margin: 10% auto;
    }

    input[type="email"] {
        width: 100%;
    }

    input[type="submit"] {
        width: 60%;
        margin-left: 5%
    }

    .signIn {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .additionalSocials {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 5vh;
    }

    footer nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .socialIcons {
        margin-top: 10%;
    }

    img.bookmarkFooter {
        margin-top: 10%;
    }

    .modalFeatures:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(0, 94%, 66%);
        height: 6vh;

        width: 15vw;
        border-radius: 5px;
    }

    .modalFeatures:last-child a {
        color: white;
    }

    .chromeExt {
        align-self: end;
    }

    .firefoxExt {
        align-self: center;
    }

    .operaExt {
        align-self: baseline;
    }

    .modalFeatures:nth-child(3) {
        border-bottom: none;
    }


}